body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0;
  box-sizing: border-box;
  font-size: vw(14);
}

html,
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  background-color: #ecf1f7;
}

table {
  border-spacing: 0;
}

input,
textarea,
select,
button {
  outline: none;
}

textarea {
  resize: none;
}

input {
  background: none;
  border: 0;
  border-radius: 0;
  outline: none;
}

div,
input {
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

.appcontent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transform-origin: 0 0;
}

.el-affix {
  width: 100% !important;
}

#stage {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  /* background-color: palegoldenrod; */
}

//dark
/*最外层透明*/
.el-table,
.el-table__expanded-cell {
  background-color: transparent !important;
}
/* 表格内背景颜色 */
// .el-table th,
.el-table tr,
.el-table td {
  background-color: transparent !important;
  color: #d8f0ff;
  text-align: center !important;
}
//修改行内线
.el-table td,
.el-table th.is-leaf {
  border-bottom: none !important;
}
.el-table th.el-table__cell.is-leaf {
  border-bottom: none;
}
.el-table__body tr.current-row {
  opacity: 0.5;
  background: linear-gradient(270deg, rgba(26, 123, 230, 0) 0%, rgba(0, 119, 254, 0.8));

  td {
    color: #02f9f9 !important;
  }
}
.el-table__inner-wrapper::before {
  background-color: transparent !important;
}

// 深色系表格
.el-table {
}
// 表格每行的白色横线去掉
.el-table td,
.el-table-th.is-leaf {
  border-bottom: none !important;
}
// 表格最后一行的白色横线去掉
.el-table::before {
  display: none;
}
.el-table {
  th {
    background: rgba(21, 77, 160, 0.57) !important;
    text-align: center !important;
  }
  thead {
    color: #ffffff;
    font-weight: 400;
  }
  tr {
    background-color: transparent;
  }
}
